name: Build Kivy Android App

on: [push]

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Database from Releases
        run: |
          echo "Downloading database from release..."
          curl -sL -o kuran_uyg_genel_data.db "https://github.com/mes41c/kuranuygulamasi/releases/download/v1.0-db/kuran_uyg_genel_data.db"
          echo "Database download complete. Verifying file:"
          ls -lh kuran_uyg_genel_data.db

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer -v android debug
          apt_packages: libgl-dev libgl1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
